<style>
 .c {
   width: 400px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
</style>
<div class="c" ng-controller="mainController">
    <div>
        <div>
            <div class="lt middle">Generate the wallet</div>
            <div class="middle lg">Enter a strong password</div>
            <div class="middle lp">At least nine digits</div>
            <div class="dt">
                <input class="in" type="password" placeholder="Enter the password of your wallet" ng-model="password">
            </div>
            <div class="st">
                <input class="bt" type="button" value="Generate the wallet" ng-click="makefile();">
                <div class="lm">The generated key file, please save, can't forward to others, otherwise the consequence is pround</div>
            </div>
        </div>
    </div>
</div>