<div class="c" ng-app="sendofflineController">
    <div class="ct">
        <div>
            <div class="t1">第 1 步：查询信息（联网）</div>
            <div class="i">来自地址</div>
            <div file-uploader url="url" password="model.password" file="file"></div>
            <div class="lb" ng-click="query()">查询信息</div>
        </div>
        <div class="t1">第 2 步：生成信息（单机）</div>
        <div class="tb" style="height: 250px;">
            <ul>
                <li>
                    <div class="item">
                        <div class="t">
                            <span>来自地址</span>
                        </div>
                        <div class="ci">
                            <input type="text" disabled="disabled" ng-model="model.sourceAddress">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="t">
                            <span>目标地址</span>
                        </div>
                        <div class="ci">
                            <input type="text">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="t">
                            <span>要发送的价值 / 金额</span>
                        </div>
                        <div class="ci">
                            <input type="text">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="t">
                            <span>Nonce</span>
                        </div>
                        <div class="ci">
                            <input type="text">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="t">
                            <span>Gas 限制</span>
                        </div>
                        <div class="ci">
                            <input type="text">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="t">
                            <span>Gas 价格 </span><span class="i1">( 1 NAS = 1EWei = 10 <span class="i2">18</span> Wei )</span>
                        </div>
                        <div class="ci">
                            <input type="text">
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        <div>
            <div class="lb">解锁</div>
        </div>
        <div class="t1">第 3 步：发送 / 发布交易（联网）</div>
        <div class="i">签名的交易</div>
        <div class="i" style="height: auto;">
            <textarea style="height:200px;width:350px;background:#eee;padding:10px;font-size:15px;"></textarea>
        </div>
        <div style="height: 100px;">
            <div class="lb">发送交易</div>
        </div>
    </div>
</div>