<script src="./js/plugins/jquery/jquery.qrcode.min.js"></script>
<style type="text/css">
    #addressqrcode {
        background: #ddd;
        height: 230px;
        width: 230px;
        margin-top: 20px;
    }
</style>
<div class="c" ng-controller="walletinfoController">
    <div class="ct">
        <div>
            <div class="i">选择你的钱包文件</div>
            <div file-uploader url="url" password="model.password" file="file"></div>
            <div class="lb" ng-click="query()">查询信息</div>
        </div>
        <div class="tb" style="height: 450px;">
            <ul>
                <li>
                    <div class="item">
                        <div class="t">
                            <span>你的地址</span>
                        </div>
                        <div class="ci">
                            <input type="text" ng-model="model.sourceAddress" disabled="disabled">
                        </div>
                    </div>
                    <div class="item">
                        <div class="t">
                            <span>钱包余额</span>
                        </div>
                        <div class="ci">
                            <input type="text" ng-model="model.sourceAmount" disabled="disabled">
                        </div>
                    </div>

                    <div class="item">
                        <div class="t">
                            <span>密码 (JSON/Recommended/Encrypted)</span>
                        </div>
                        <div class="ci">
                            <input type="text" disabled="disabled" ng-model="model.cryptCode">
                        </div>
                    </div>

                    <div class="item">
                        <div class="t">
                            <span>私钥（未加密）</span>
                        </div>
                        <div class="ci">
                            <input type="text" disabled="disabled" ng-model="model.encryptCode">
                        </div>
                    </div>

                </li>
                <li>
                    <div class="item" style="text-align: center;">
                        <div class="t">
                            <span>你的地址(二维码)</span>
                        </div>
                        <div class="ci" align="center">
                            <div id="addressqrcode">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>